**Pandas 3**

**#09 Membagi Data Frame Menjadi Dua Secara Acak**

**Import Modules**

In [ ]:
import pandas as pd
import numpy as np


print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

**Persiapan Data Frame**

*   Membangun objek data frame dengan data nilai random antara 1 - 10
*   Size mengacu pada jumlah baris dan kolom
*   Column mengacu pada label untuk kolom

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  14  12   6  10  11
1   8  14   7   1   9
2  10   4   3   6  10
3  14  18  18  19   4
4   2   6  16  19   3
5   8   7  13  14  16
6  19  15  11  14  17
7   6  11  19  10   8
8   9   2   6  10  16
9  10   5   8  12   2

**Membagi Data Frame Menjadi Dua Secara Acak Berdasarkan Proporsi Tertentu**



*   df.shape berguna untuk memastikan bentuk/ shape dari data frame
*   Data frame pada kasus kali ini memiliki bentuk 10 x 5

In [ ]:
df.shape

(10, 5)

In [ ]:
proporsi = 0.7 #proporsi ini membagi dataframe yang ada
df_1 = df.sample(frac=proporsi) #dataframe 1 menjadi 70%, Function df.sample akan mengambil sample acak 
df_2 = df.drop(df_1.index) #dataframe 2 menjadi sisanya atau 30%, drop() akan menghapus indeks yang sudah ada dari dataframe 1

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

In [ ]:
df_1

    A   B   C   D   E
8   9   2   6  10  16
1   8  14   7   1   9
2  10   4   3   6  10
5   8   7  13  14  16
9  10   5   8  12   2
7   6  11  19  10   8
6  19  15  11  14  17

In [ ]:
df_2

    A   B   C   D   E
0  14  12   6  10  11
3  14  18  18  19   4
4   2   6  16  19   3

**#10 Mengganti Nama Kolom pada Data Frame Berdasarkan Pola**

**Import Modules**

In [ ]:
import pandas as pd

print(pd.__version__)

1.3.5

**Persiapan Data Frame**

In [ ]:
df = pd.read_csv('./data/titanicfull.csv') #dataset diakses dari titanic dataset yaitu public dataset
df.columns = ['Pclass', 'Survival status', 'full Name', 'Sex  ', '  Age', 
              'Sib SP', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
df_backup = df.copy(deep=True)

df.head()

**Menggunakan Lowercase untuk Nama Kolom dan Mengganti Spasi dengan _**

In [ ]:
df.columns = df.columns.str.replace(' ', '_').str.lower() #replace berguna untuk melakukan penggantian sedangkan lower berguna untuk membuat semua data menjadi huruf kecil
df.head()

**Memangkas Kelebihan Spasi pada Nama Kolom**

In [ ]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_') #strip berguna untuk membuang spasi yang tidak diperlukan
df.head()

**#11 Seleksi Kolom dan Baris pada Data Frame Menggunakan loc**

**Import Modules**

In [ ]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.6

**Persiapan Data Frame**

In [ ]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  17   6   4   2  19
1   4  17   1  19   3
2   2  16  15   9  14
3   9  16  16  15   7
4   4   1  13   3   9
5  15   5  16   5  17
6  12   7  12   5  17
7   9  13   6   6  15
8  11  15   5  14   8
9  15   6   7   7   4

**Seleksi kolom dan baris menggunakan loc**

In [ ]:
df.loc[[0,3,4], ['B','E']] #loc dipisah menggunakan tanda koma (,) bagian pertama untuk baris dan yang kedua untuk kolom

    B   E
0   6  19
3  16   7
4   1   9

**Seleksi baris dengan kondisi**

In [ ]:
df.loc[df['B']>10, ['B','D','E']] #pada kondisi ini kita akan melihat dimana kita akan menampilkan baris B yang lebih besar dari 10

    B   D   E
1  17  19   3
2  16   9  14
3  16  15   7
7  13   6  15
8  15  14   8

**Slicing Data Frame dengan loc**

In [ ]:
df.loc[0:4, 'B':'D'] #menampilkan baris dari 0-4

    B   C   D
0   6   4   2
1  17   1  19
2  16  15   9
3  16  16  15
4   1  13   3

**#12 Membentuk Kolom Bertipe datetime dari Beberapa Kolom Lain pada Pandas Data Frame**

**Import Modules**

In [ ]:
import pandas as pd

print(pd.__version__)

1.3.5

**Persiapan Data Frame**

In [ ]:
data = {'day':[1, 2, 10 ,25, 12], 
        'month':[1, 2, 4, 5, 6], 
        'year':[2000, 2001, 2010, 2015, 2020]}
#membuat data menggunakan dictionary dengan jumlah baris yang sama pada setiap kolom
df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2010
3   25      5  2015
4   12      6  2020

**Membentuk Kolom Bertipe datetime**

In [ ]:
df['penanggalan'] = pd.to_datetime(df[['day', 'month', 'year']]) #to_datetime berguna untuk melakukan format tanggal
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2010  2010-04-10
3   25      5  2015  2015-05-25
4   12      6  2020  2020-06-12

In [ ]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object